@font-face {

  font-family: 'Teletext';
  src: url("../fonts/AEnigma.woff");

}

@font-face {

  font-family: 'Teletext';
  src: url("../fonts/AEnigma.woff") format('woff');

}

body {

  color: #FFFFFF;
  background-color: #000000;
  padding: 0;
  margin: 50px 0 0 0;
  font-family: 'Teletext';
  font-size: 20px;

}

#page-wrapper {

  width: 960px;
  background-color: #0402FC;
  margin: 0 auto;

}

#block-system-main {

  height: 300px;
  overflow: hidden;
  position: relative;

}

#block-system-main>.content {

  position: absolute;
  top: 0;
  left: 0;

}

ul.menu {

  width: 100%;
  clear: both;

}

ul.menu li:nth-child(4n+1) a {

  color: #FC0204;

}

ul.menu li:nth-child(4n+2) a {

  color: #04FE04;

}

ul.menu li:nth-child(4n+3) a {

  color: #FCFE04;

}

ul.menu li:nth-child(4n+4) a {

  color: #04FEFC;

}

a {

  text-decoration: none;
  color: #FFFFFF;

}

input::-moz-focus-inner {

  padding: 0;
  border: 0;

}

input[type=submit],
input[type=reset],
input[type=button]
{

  background-color: #FC0204;
  cursor: pointer;

}

input {

  color: #FFFFFF;
  background-color: #000000;
  padding: 5px;
  font-family: 'Teletext';
  border: 2px solid #04FE04;
  outline: 0 none;

}

form .container-inline input {

  float: left;

}

h1 {

  color: #FC0204;
  border-bottom: 12px solid #FC0204;

}

h2 {

  color: #FCFE04;
  border-bottom: 8px solid #FCFE04;

}

h3 {

  color: #04FEFC;

}

li {

  list-style-type: square;

}

.column {

  float: left;

}

.sidebar {

  width: 20%;
  margin: 10px;

}

body.one-sidebar #content {

  width: 75%;

}

body.two-sidebars #content {

  width: 55%;

}

#block-system-powered-by {

  color: #FCFE04;
  text-align: center;

}

#block-system-powered-by a {

  color: #FCFE04;

}

#time-marquee-wrapper {

  float: right;
  display: inline;

}

/*
Red: #FC0204
Green: #04FE04
Yellow: #FCFE04
Blue: #04FEFC
*/
